In [45]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [46]:
pd.options.display.float_format = '{:,.2f}'.format

In [47]:
file = 'C:/Users/Sheshu/IIITB_/EDA with python/nas.csv'

In [48]:
df = pd.read_csv(file)

In [49]:
df.shape

(8801, 64)

In [50]:
df.columns

Index(['STUID', 'State', 'District', 'Gender', 'Age', 'Category',
       'Same.language', 'Siblings', 'Handicap', 'Father.edu', 'Mother.edu',
       'Father.occupation', 'Mother.occupation', 'Below.poverty',
       'Use.calculator', 'Use.computer', 'Use.Internet', 'Use.dictionary',
       'Read.other.books', 'X..Books', 'Distance', 'Computer.use',
       'Library.use', 'Like.school', 'Subjects', 'Give.Lang.HW',
       'Give.Math.HW', 'Give.Scie.HW', 'Give.SoSc.HW', 'Correct.Lang.HW',
       'Correct.Math.HW', 'Correct.Scie.HW', 'Correct.SocS.HW',
       'Help.in.Study', 'Private.tuition', 'English.is.difficult',
       'Read.English', 'Dictionary.to.learn', 'Answer.English.WB',
       'Answer.English.aloud', 'Maths.is.difficult', 'Solve.Maths',
       'Solve.Maths.in.groups', 'Draw.geometry', 'Explain.answers',
       'SocSci.is.difficult', 'Historical.excursions', 'Participate.in.SocSci',
       'Small.groups.in.SocSci', 'Express.SocSci.views',
       'Science.is.difficult', 'Observe.experiments', 'Conduct.experiments',
       'Solve.science.problems', 'Express.science.views', 'Watch.TV',
       'Read.magazine', 'Read.a.book', 'Play.games', 'Help.in.household',
       'Maths..', 'Reading..', 'Science..', 'Social..'],
      dtype='object')

In [76]:
df = df[df['Age'] != '11- years' ]

In [77]:
df.Age.value_counts()

14 years     4349
13 years     2798
15 years      844
12 years      298
16+ years     264
Name: Age, dtype: int64

In [79]:
dfg = df[['Father.edu', 'Science..','Age']].groupby('Age')

In [86]:
df.pivot_table(values='Science..', columns='Father.edu', index='Age', aggfunc='mean')

Father.edu  Degree & above  Illiterate  Primary  Secondary  Sr secondary
Age
12 years             46.75       29.87    34.12      33.59         40.11
13 years             44.81       33.76    37.62      38.16         39.05
14 years             42.68       35.32    36.70      36.74         39.05
15 years             29.09       33.41    35.16      32.87         38.62
16+ years            32.73       33.12    32.36      30.96         31.51